.w20p {
    width: 20%;
}

.w40 {
    width: 4vmin;
    max-width: 40px;
}

.w100 {
    width: 10vmin;
    max-width: 100%;
}

.w120 {
    width: 12vmin;
    max-width: 100%;
}

.w140 {
    width: 14vmin;
    max-width: 100%;
}

.w150 {
    width: 15vmin;
    max-width: 100%;
}

.w180 {
    width: 18vmin;
    max-width: 100%;
}

.w200 {
    width: 20vmin;
    max-width: 100%;
}

@media only screen and (min-width:1000px) {
    .w100 {
        width: 100px;
        max-width: 100%;
    }
    .w120 {
        width: 120px;
        max-width: 100%;
    }
    .w140 {
        width: 140px;
        max-width: 100%;
    }
    .w150 {
        width: 150px;
        max-width: 100%;
    }
    .w180 {
        width: 180px;
        max-width: 100%;
    }
    .w200 {
        width: 200px;
        max-width: 100%;
    }
}

.mw20p {
    max-width: 20%;
    white-space: normal;
}

.h30 {
    height: 3vmin;
    max-height: 30px;
}

.h40 {
    height: 4vmin;
    max-height: 40px;
}

.h50 {
    height: 5vmin;
    max-height: 50px;
}

.h60 {
    height: 6vmin;
    max-height: 60px;
}

.h80 {
    height: 8vmin;
    max-height: 80px;
}

.h100 {
    height: 10vmin;
    max-height: 100px;
}

.h200 {
    height: 20vmin;
    max-height: 200px;
}

/*  if viewport width < 1000
    then use vw*percentage
*/

.ft40 {
    font-size: 4vw;
}

.ft30 {
    font-size: 3vw;
}

@media only screen and (min-width: 1000px) {
    .ft40 {
        font-size: 40px;
    }
    .ft30 {
        font-size: 30px;
    }
}