.container {
    display: grid;
    justify-items: start;
}

.row-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.navbar-img {
    height: 40px;
}

.inline {
    display: inline;
}

.full-height {
    height: 100%;
}

.full-width {
    height: 100%;
}

.medium-margin-bottom {
    margin-bottom: 20px;
}

.medium-line-height {
    line-height: 2;
}

/*Button:
Pointer cursor & Can't be selected.
*/

.bttn {
    cursor: pointer;
    user-select: none;
    padding: 10px 15px 10px 15px;
}

.round {
    border-radius: 4px;
    border: none;
    outline: none;
}

.button-shadow {
    box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.5);
}

.block-shadow {
    box-shadow: -2px 2px 18px -6px rgba(0, 0, 0, 0.5);
}

.drop-shadow {
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}

.white {
    color: white;
}

.whole-page {
    width: 100%;
    height: 100vh;
}

.half-width {
    width: 50%;
}

.gray {
    color: gray;
}

.medium-green {
    color: rgb(80, 230, 180);
}

.link-text {
    cursor: pointer;
    transition: 0.5s;
}

.link-text:hover {
    border-bottom: 4px solid white;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: white;
}

.h-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}