.gray {
    color: gray;
}

.skyblue {
    color: deepskyblue;
}

.deepblue {
    color: cornflowerblue;
}

.dark {
    color: rgb(50, 50, 50);
}

.white {
    color: white;
}

.lightorange {
    color: lightsalmon;
}

.lightgreen {
    color: lightseagreen;
}