.container {
    display: grid;
    justify-items: start;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.mlr20 {
    margin-left: 20px;
    margin-right: 20px;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}


.ptb5p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.plr10p {
    padding-left: 10%;
    padding-right: 10%;
}

.plr15p {
    padding-left: 15%;
    padding-right: 15%;
}

.p5p {
    padding: 5%;
}

.row-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.navbar-img {
    height: 40px;
}

.inline {
    display: inline;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.medium-margin-bottom {
    margin-bottom: 20px;
}

.lh2 {
    line-height: 2;
}

.lh15 {
    line-height: 1.5;
}

/*Button:
Pointer cursor & Can't be selected.
*/

.bttn {
    cursor: pointer;
    user-select: none;
}

.round {
    border-radius: 4px;
    border: none;
    outline: none;
}

.button-shadow {
    box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.5);
}

.block-shadow {
    box-shadow: -2px 2px 18px -6px rgba(0, 0, 0, 0.5);
}

.drop-shadow {
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}

.drop-shadow-light {
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.25));
}


.whole-page {
    width: 100%;
    height: 100vh;
}

.half-width {
    width: 50%;
}

.medium-green {
    color: rgb(80, 230, 180);
}

.link-text {
    cursor: pointer;
    transition: 0.5s;
}

.link-text:hover {
    border-bottom: 4px solid white;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: white;
}

.h-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}