body {
    margin: 0;
    width: 100%;
    font-family: 'Lato', Arial, sans-serif;
}

header, main, footer {
    padding: 4%;
}

#background-1 {
    position: absolute;
    top: -5%;
    left: -5%;
    right: -5%;
    height: 150%;
    z-index: -1;
    background: linear-gradient(-8deg, white 25%, rgb(95, 157, 211) 25%, rgb(69, 133, 189) 100%)
}

.navbar-icon {
    height: 30px;
    margin: 5px;
}

.navbar-button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    transition: 0.5s;
    margin-left: 10px;
}

.navbar-button:hover {
    background-color: salmon;
}

#top-description {
    color: white;
    grid-template-columns: 50% 50%;
}

#top-description-left-half>p {
    line-height: 2.2;
}

#signup-button {
    border: 1px solid;
    border-radius: 4px;
}

.vertical-block {
    background-color: white;
    border-radius: 10px;
    padding: 3vmin;
    width: 19%;
    max-width: 400px;
    height: 420px;
}

@media only screen and (max-width:1000px) {
    .vertical-block {
        height: 40vmin;
    }
}

body {
    overflow-x: hidden;
}

#get-started-content>ul {
    margin-left: 0;
    padding-left: 0;
}

#get-started-title {
    margin: 8%;
}

#seller-types-background {
    position: absolute;
    /*Overrides the padding in the parent setting*/
    left: -5%;
    right: -5%;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(-8deg, white 25%, rgb(30, 119, 56) 25%, rgb(41, 141, 71) 100%)
}

.seller-box {
    width: 80%;
    padding: 5%;
}

#signup-card {
    background: linear-gradient(-20deg, rgb(92, 206, 187) 0%, rgb(62, 201, 104) 40%, rgb(71, 199, 199) 100%);
}

footer {
    position: relative;
}

#footer-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-8deg, rgba(0, 0, 0, 0.1) 35%, white 35%);
    z-index: -1;
}

#foot {
    border-top: 2px gainsboro solid;
    padding-top: 5%;
}

#benefits-content {
    transition: 0.5s;
}
