.container {
    display: grid;
    justify-items: start;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 2vmin;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mlr20 {
    margin-left: 20px;
    margin-right: 20px;
}

.p10 {
    padding: 1vmin;
}

.p15 {
    padding: 1.5vmin;
}

.p20 {
    padding: 2vmin;
}

@media only screen and (min-width: 1000px) {
    .p10 {
        padding: 10px;
    }
    .p15 {
        padding: 15px;
    }
    .p20 {
        padding: 20px;
    }
    .m20 {
        margin: 20px;
    }
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.ptb5p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.plr10p {
    padding-left: 10%;
    padding-right: 10%;
}

.plr15p {
    padding-left: 15%;
    padding-right: 15%;
}

.p3p {
    padding: 3%;
}

.p5p {
    padding: 5%;
}

.row-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.inline {
    display: inline;
}

.full-height {
    height: 100%;
}

.w100p {
    width: 100%;
}

.lh2 {
    line-height: 2;
}

.lh15 {
    line-height: 1.5;
}

.rnd4 {
    border-radius: 4px;
    outline: none;
}

.rnd6 {
    border-radius: 6px;
    outline: none;
}

.rnd8 {
    border-radius: 8px;
    outline: none;
}

.button-shadow {
    box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.5);
}

.block-shadow {
    box-shadow: -2px 2px 18px -6px rgba(0, 0, 0, 0.5);
}

.drop-shadow {
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}

.drop-shadow-light {
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.25));
}

.whole-page {
    width: 100%;
    height: 100vh;
}

.half-width {
    width: 50%;
}

.medium-green {
    color: rgb(80, 230, 180);
}

.ptr {
    cursor: pointer;
}

.lnk {
    transition: 0.5s;
}

.lnk:hover {
    border-bottom: 4px solid white;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: white;
}

.h-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.circle {
    border-radius: 50%;
}