.txt-14 {
    font-size: 14pt;
}

.txt-16 {
    font-size: 16pt;
}

.txt-18 {
    font-size: 18pt;
}

.txt-24 {
    font-size: 24pt;
}

.txt-26 {
    font-size: 26pt;
}

.txt-30 {
    font-size: 30pt;
}

.txt-36 {
    font-size: 36pt;
}

.txt-42 {
    font-size: 42pt;
}

.txt-48 {
    font-size: 48pt;
}